[DEFAULT]
solrcloud = 10.0.0.1:8983
zookeeper = 10.0.0.2:2181

[dev]
solrcloud = ${DEFAULT:solrcloud}
zookeeper = ${DEFAULT:zookeeper}

[staging]
solrcloud = http://10.0.1.1:8983
zookeeper = 10.0.1.2:2181

[production]
solrcloud = http://10.0.2.1:8983
zookeeper = 10.0.2.2:2181
